<p id="notice"><%= notice %></p>

<p>
  <strong>Address description:</strong>
  <%= @regional_office.address_description %>
</p>

<p>
  <strong>Street:</strong>
  <%= @regional_office.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @regional_office.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @regional_office.state %>
</p>

<p>
  <strong>Postal:</strong>
  <%= @regional_office.postal %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @regional_office.phone %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @regional_office.fax %>
</p>

<p>
  <strong>Email:</strong>
  <%= @regional_office.email %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @regional_office.notes %>
</p>

<p>
  <strong>Three pl:</strong>
  <%= @regional_office.three_pl_id %>
</p>

<%= link_to 'Edit', edit_regional_office_path(@regional_office) %> |
<%= link_to 'Back', regional_offices_path %>
