<p id="notice"><%= notice %></p>

<h1>Driver Profiles</h1>

<table class='table-striped table-bordered'>
  <thead>
    <tr>
      <th>Company ID</th>
      <th>Api ID</th>
      <th>Email</th>
      <th>Name</th>

      <th>Role</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @driver_profiles.each do |driver_profile| %>
      <tr>
        <td><%= driver_profile.driver_company_id %></td>
        <td><%= driver_profile.api_id %></td>
        <td><%= driver_profile.email %></td>
        <td><%= "#{driver_profile.first_name} #{driver_profile.last_name}" %></td>

        <td><%= driver_profile.role %></td>
        <td><%= driver_profile.status %></td>
        <td><%= link_to 'Show', driver_profile %></td>
        <td><%= link_to 'Edit', edit_driver_profile_path(driver_profile) %></td>
        <td><%= link_to 'Destroy', driver_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Driver Profile', new_driver_profile_path %>
