<div class="jumbotron">
  <h1 class="display-5"><%= @three_pl.name %></h1>
  <p class="lead">
  <address>

<%= @three_pl.street %><br>
<%= @three_pl.city %>, <%= @three_pl.state %> <%= @three_pl.postal_code %><br>
<abbr title="Phone">Phone:</abbr> <%= @three_pl.phone %> <br>
<abbr title="Fax">Fax:</abbr> <%= @three_pl.fax %> <br>
<a href="mailto:<%= @three_pl.email %>"><%= @three_pl.email %></a>
</address>
  
  </p>
  <hr class="my-4">
  <p>
   <p>Web: <%= @three_pl.website %></p>
    <p>US Dot: <%= @three_pl.dot %></p>
    <p>MC: <%= @three_pl.mc %></p>
    <p>Contact: <%= @three_pl.contact_name %></p>
    <p>Notes: <%= @three_pl.notes %></p>
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>






<%= render 'three_pls/show_partials/new_regional_office' %>












<div class='row'>
  <% @three_pl.regional_offices.each do |office| %>
<div class="card border-primary col-md-3">
  <div class="card-header"><%= office.address_description %></div>
  <div class="card-body">
    <h4 class="card-title"></h4>
    <p class="card-text">

    <address>

  <%= office.street %><br>
  <%= office.city %>, <%= office.state %> <%= office.postal %><br>
  <abbr title="Phone">Phone:</abbr> <%= office.phone %> <br>
  <abbr title="Fax">Fax:</abbr> <%= office.fax %> <br>
  <a href="mailto:<%= office.email %>"><%= office.email %></a>
</address>

      <p><label>Notes</label><br><%= office.notes %></p>
    </p>
  </div>
</div>
<% end %>
</div>

