<div class="tab-pane fade" id="profile">



<div class="card border-success mb-3" style="max-width: 20rem;">
  <div class="card-header">Terminal</div>
  <div class="card-body">
    <h4 class="card-title"><%= @driver_profile.terminal.name %></h4>
    <p class="card-text">
      <span><%= @driver_profile.terminal.street %>, </span> 
      <span><%= @driver_profile.terminal.city %>,</span> 
      <spanp><%= @driver_profile.terminal.state %></span>
      <span><%= @driver_profile.terminal.telephone %></span>
    </p>
  </div>
</div>
</div>