<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">




    <%= stylesheet_link_tag 'css/app.min.css', media: 'all' %>



    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body data-sa-theme=<%= @app_setting.theme_color %>>
<main class="main">
<% render 'layouts/partials/page_loader' %>
<%= render 'layouts/partials/header' %>
<%= render 'layouts/partials/side_navigation' %>
<%= render 'layouts/partials/themes' %>

<section class="content">
<%= bootstrap_flash %>
<% if @app_setting.boxed_content == true %> 
 <div class="content__inner">
<% end %>
<%= render 'layouts/partials/main_content' %>

  <%= yield %>
<%= render 'layouts/partials/footer' %>
<% if @app_setting.boxed_content == true %> 
  </div>
<% end %>
</section>

</main>
 <p id='test'></p>



  </body>
</html>
